.wrapper-container {
  padding-top: 30px;
}

.container-fluid {
  width: 86%;
}

.custom-search-container {
  background: #e6f7ff;
  border-radius: 16px;
  padding: 55px 30px;
}

.custom-search-container h1 {
  font-size: 22px;
  margin-bottom: 15px;
}

.custom-search-container input {
  width: 100%;
  margin-bottom: 25px;
}

.custom-search-container input::placeholder {
  color: #c7c7c7;
}

.custom-search-container button {
  color: #fff;
}

@media (min-width: 576px) {
  .custom-search-container h1 {
    font-size: 28px;
  }

  .custom-search-container input {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .custom-search-container h1 {
    font-size: 32px;
  }

  .custom-search-container input {
    width: 55%;
  }
}

@media (min-width: 992px) {
  .custom-search-container h1 {
    font-size: 36px;
  }

  .custom-search-container input {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .custom-search-container h1 {
    font-size: 38px;
  }

  .custom-search-container input {
    width: 300px;
  }
}
